@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 84% 5%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}
